<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/shop.css">
    <title>Shop | Funkoshop</title>
</head>
<body>
    <%- include('../partials/header')%>
    <main class="main container">
        <aside class="aside">
            <form action="" method="">
                <label class="aside__label" for="search">BUSCAR</label><br><br>
                <input class="aside__input1" type="text" id="search" name="search" placeholder=" item o categoría"><br><br>
                <label class="aside__label" for="orderBy">ORDENAR POR</label><br><br>
                <select class="aside__input1" id="orderBy" name="orderBy">
                    <option value="">Mayor a menor</option>
                    <option value="">Menor a mayor</option>
                </select><br><br>
                <label class="aside__label" for="price">PRECIO</label><br><br>
                <label class="aside__text" for="minPrice">MIN</label>
                <input class="aside__input2" type="number" name="minPrice" id="minPrice" min="1799.99" placeholder="      0">
                <label class="aside__text" for="maxPrice">- MAX</label>
                <input class="aside__input2" type="number" name="maxPrice" id="maxPrice" min="0" max="20000" placeholder="      0"><br><br>
                <label class="aside__label" for="filter">FILTRAR</label><br><br>
                <label class="aside__options" for="new">
                    <input type="checkbox" id="favorite" name="nuevos" value="nuevos">
                    NUEVOS
                </label><br>
                <label class="aside__options" for="offer">
                    <input type="checkbox" id="offer" name="ofertas" value="ofertas">
                    OFERTAS
                </label><br>
                <label class="aside__options" for="specialEdition">
                    <input type="checkbox" id="specialEdition" name="edicion_especial" value="edicion_especial">
                    EDICIÓN ESPECIAL
                </label><br>
                <label class="aside__options" for="favorite">
                    <input type="checkbox" id="favorite" name="favoritos" value="favoritos">
                    FAVORITOS
                </label><br>
            </form>
        </aside>
        <section class="list">
            <section class="slider container">
                    <ul class="slider__items">
                        <% characters.forEach(character =>{ %>
                            <li class="slider__item">
                                <article class="card-item">
                                    <a class="card-item__link" href="/shop/item/<%= character.product_id %>">
                                        <picture class="card-item__cover">
                                            <span class="card-item__tag">Nuevo</span>
                                            <img class="card-item__img--front" src="/img<%= character.image_front %>" alt="<%= character.product_description %>">
                                            <img class="card-item__img--back" src="/img<%= character.image_back %>" alt="<%= character.product_description%>">
                                        </picture>
                                        <div class="card-item__content">
                                            <p class="card-item__license"><%= character.licence_name %></p>
                                            <h4 class="card-item__name"><%= character.product_name %></h4>
                                            <p class="card-item__price">$<%= character.price %></p>
                                            <p class="card-item__promo"><%= character.dues %> CUOTAS SIN INTERÉS</p>
                                        </div>
                                    </a>
                                </article>
                            </li>
                        <%});%>
                    </ul>               
            </section>
            <section class="pagination">
                <ul class="pagination__list">
                    <li><a class="disabled" href="#"><iconify-icon id="icono-izquierda" icon="tabler:chevron-down"></iconify-icon></a></li>
                    <li><a class="active" href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li> <a href="#">...</a></li>
                    <li><a href="#">9</a></li>
                    <li><a href="#">10</a></li>
                    <li><a href="#"><iconify-icon id="icono-derecha" icon="tabler:chevron-down"></iconify-icon></a></li>
                  </ul>
            </section>
        </section>
    </main>
    <%- include('../partials/footer')%>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
</body>
</html>