<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/create.css">
    <link rel="stylesheet" href="/css/edit.css">
    <title>Edit | Funkoshop</title>
</head>
<body>
   <%- include('../partials/headerAdmin')%>
    <main class="main container">
        <h2 class="title">EDITAR ITEM</h2>
        <section class="form">
            <form class="form__text" action="/admin/edit/<%= product.product_id%>?_method=PUT" method="POST" enctype="application/x-www-form-urlencoded">
                <label for="category_name">Categoría:</label>
                <select class="form__select" id="category" name="category_name">
                    <option value="1" selected>Figuras</option>
                    <option value="3">Llaveros</option>
                    <option value="2">Remeras</option>
                </select>
                <label class="form__subtitle" for="licence_name">Licencia:</label>
                <select class="form__select" id="license" name="licence_name">
                    <option value="<%= product.licence_name%>" selected><%= product.licence_name%></option>
                    <option value="2">Star Wars</option>
                    <option value="1">Pokemon</option>
                    <option value="3">Harry Potter</option>
                </select><br><br>
                <label for="product_name">Nombre del producto:</label>
                <input class="form__line" id="line-size" type="text" name="product_name" placeholder="<%= product.product_name%>" value="<%= product.product_name%>"><br><br>
                <textarea class="form__textarea" name="product_description" id="description" rows="6" cols="50" placeholder="<%= product.product_description%>"><%= product.product_description%></textarea><br>
                <section class="first__line">
                    <label for="product_sku">SKU:</label>
                    <input class="form__line" id="line-size2" type="text" name="product_sku" placeholder="<%= product.sku%>" value="<%= product.sku%>">
                    <label class="form__subtitle" for="product_price">Precio:</label>
                    <input class="form__line" id="line-size2" type="number" name="product_price" min="0" placeholder="<%= product.price%>" value="<%= product.price%>">
                    <label class="form__subtitle" for="stock">Stock:</label>
                    <input class="form__line" id="line-size3" type="number" name="stock" min="0" placeholder="10" value="<%= product.stock%>"><br><br>
                </section>
                <section class="first__line">
                    <label for="discount">Descuento:</label>
                    <input class="form__line" id="line-size3" type="number" name="discount" min="0" placeholder="<%= product.discount%>" value="<%= product.discount%>">
                    <label class="form__subtitle" for="instalment">Cuotas:</label>
                    <select class="form__select" id="instalment" name="instalment">
                        <option value="3"selected>3 Cuotas sin interés</option>
                        <option value="6">6 Cuotas con interés</option>
                        <option value="12">12 Cuotas con interés</option>
                    </select><br><br>
                </section>
                <section class="first__line">
                    <label for="img_front">Imágenes:</label>
                    <input type="file" id="file-upload" name="file-upload" accept="image/*"><br><br>
                </section>
                <section class="form__funkopop">
                    <section>
                        <img class="form__funkos" id="funko1" src="/img<%= product.image_front%>" alt="">
                        <p class="form__photos-text">Frente</p>
                    </section>
                    <section>
                        <img class="form__funkos" id="funko2" src="/img<%= product.image_back%>" alt="">
                        <p class="form__photos-text">Dorso</p>
                    </section>
                </section>
            <div class="form__buttons">
                <button class="form__button" id="left-button" type="submit">Modificar producto</button>
            </div>
        </form>
        </section>
    </main>
    <%- include('../partials/footer')%>
</body>
</html>